@import '../config/variables';
@import '../config/media';





table tr .td-title{
  width: 22%;

}

table tr .td-separator{
  width: 5%;
}

table tr .td-value{
  color: $yellow;
}

table tr .td-value-bar{
  display: flex;
  display: -webkit-box;


}

table tr .td-value-percentage{
  color: $green;
  padding-left: 0.5rem;
}

table .bar{
  //width: 83%;
  height: 0.8rem;
  position: relative;
  background-size: 6px 100%;
  background-image: linear-gradient(to right,
          #fff 20%,
          transparent 20%,
          transparent 100%);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}


.utility{
  position: fixed;
  bottom:5rem;
  padding-left: 4rem;
}

.session{
  color: $green;
}

.analyzer__section{
  overflow: hidden;
  padding-top: .4rem;
}

#my_camera{
  position: relative;
  overflow: hidden!important;
  /*box-shadow: -50px 0px 80px 90px rgba(0,0,0,0.9) inset;*/
}


#my_camera canvas{
  position: absolute;
  left: 0;
  z-index: 1;
  width: auto!important;
}


video{
  position: relative;
  z-index: 0;
  //padding-top: .6rem;
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);
}

video .red_dot{
  background-color: #FF1313;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  right:0;
}



.risk-percentage,
.age-category{
  color:$green;
}

.crime-category,
.ethnicity-category,
.gender-category
{
  color:$yellow;
}



fieldset .content p{
  font-size: 0.65rem;
}


