@import '../config/variables';
@import '../config/media';






figure img{
  width: 100%;
  height: auto;
}

.index .content h1{
  font-size: 4rem;
  font-family: Roboto-Bold;
}

.index .content p{
  font-size: 1rem;
  font-family: IBM-Medium;
}

