@import '../config/variables';
@import '../config/media';


footer{
  width: 100%;
  position: fixed;
  bottom:0;
  margin: 0;
}

#bar {
  width: 100%;
  text-align: center;
  font-family: IBM-Medium;
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
}

#progressbar li a{
  color: rgba(255, 255, 255, 0.5);
  font-family: IBM-Medium;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;

}

#progressbar {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: lightgrey;
  display: flex;

}

#progressbar .active a {
  color: rgba(255, 255, 255, 1);
}

#progressbar li {
  list-style-type: none;
  width: 25%;
  position: relative;
}



#progressbar #step1:after {
  content: "";
}

#progressbar #step2:after {
  content: "";
}

#progressbar #step3:after {
  content: "";
}

#progressbar #step4:after {
  content: "";
}





#progressbar li:after {

  display: block;
  color: #ffffff;
  background: $lightblack;
  margin: 10px auto 0 auto;
  padding: .5rem;
}


#progressbar li.active:before,
#progressbar li.active:after {
  background: $darkblue;
}


.progress-bar {
  background-color: $darkblue;
}