@import '../config/variables';
@import '../config/media';


footer{
  width: 100%;
  position: fixed;
  bottom:0;
  margin: 0;
  opacity: 0.9;
}

#bar {
  width: 100%;
  text-align: center;
  font-family: IBM-Medium;
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
}

#progressbar li a{
  color: rgba(255, 255, 255, 0.5);
  font-family: IBM-Medium;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.5;

}

#progressbar {
  padding: 0;
  margin: -10px 0px;
  overflow: hidden;
  color: lightgrey;
  display: flex;

}

#progressbar .active a {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}



#progressbar li {
  list-style-type: none;
  width: 33.3333%;
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}



#progressbar #step1:after {
  content: "";
}

#progressbar #step2:after {
  content: "";
}

#progressbar #step3:after {
  content: "";
}

//#progressbar #step4:after {
//  content: "";
//}





#progressbar li:after {

  display: block;
  color: #ffffff;
  //background: $lightblack;
  margin: 10px 0px 1px;
  padding: .5rem;
}


#progressbar li.active:before,
#progressbar li.active:after {
  background: $darkblue;
}

#progressbar .current:after{
  width: 0%;
  animation: move 1s normal forwards ease-in-out;
  animation-delay: 1s;
}

@keyframes move {
  0% {
    width: 0%;
  }
  100%{
    width: 45%;
  }
}
#progressbar .last:after{
  width: 100%;
}


.progress-bar {
  background-color: $darkblue;
}



#progressbar li a:hover{
  color: $white_white!important;
  opacity: 1;
}