@import '../config/variables';
@import '../config/media';



header{
  font-family: IBM-Medium;
  font-size: 0.875rem;
  background-color: $black-b;
  z-index: 3;
}


nav .navigation{
  display: flex;
  justify-content: flex-end;
  list-style:none;
  margin: 0;
  padding: 2rem 0rem;
  overflow: hidden;
}

nav .navigation li a{
  font-size:0.875rem;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
}

nav .navigation li{
  display: flex;
  justify-content: center;
  /* align-self: center;    <---- REMOVE */
  align-items: center;   /* <---- NEW    */
  margin-left: 2.5rem;
  border:none;
}


nav .navigation li a{
  color: rgba(255,255,255,1);
}



nav .navigation li:first-child {
  margin-left: 0;
  margin-right: auto;

}


nav .navigation li:hover{
  border-bottom:.5px inset $green;
  position: relative;
}

nav .navigation li:first-child:hover {
  border-bottom: none !important;
}

