@import '../config/variables';
@import '../config/media';


html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  min-height: 100%;
  background: $black-b;
  color: $white-b;
  font-size: 12px;
}

table{
  table-layout: fixed ;
  width: 100%;
  font-family: Dejavu-Regular;
  font-size: 0.65rem;
  text-transform: uppercase;
}


fieldset .content{
  font-family: Dejavu-Regular;
  //padding: 1rem;
  font-size:0.75rem;
  line-height: 1rem;
}

fieldset .content p{
  padding-bottom: 1rem;
}

legend{
  font-family: Dejavu-Regular;
  text-transform: uppercase;
}

.cta{
  display: block;
  padding: 1rem;
  border: 1px solid $white_white !important;
  text-decoration: none;
  text-align: center;
  font-size:0.85rem;
  color: $green;
  text-transform: uppercase;
  font-family: IBM-Medium;
}

.cta:hover{
  color: #000000;
  background-color: $white_white;
}
