@import '../config/variables';

@font-face {
  font-family: 'Dejavu-Regular';
  src: url('../../fonts/DejaVu-Sans-Mono-for-Powerline.ttf');
}

@font-face {
  font-family: 'Dejavu-Oblique';
  src: url('../../fonts/DejaVu-Sans-Mono-Bold-Oblique-for-Powerline.ttf');
}

@font-face {
  font-family: 'Dejavu-Bold';
  src: url('../../fonts/DejaVu-Sans-Mono-Bold-for-Powerline.ttf');
}

@font-face {
  font-family: 'Dejavu-Bold-Oblique';
  src: url('../../fonts/DejaVu-Sans-Mono-Bold-Oblique-for-Powerline.ttf');
}


@font-face {
  font-family: 'IBM-Medium';
  src: url('../../fonts/Ibm-3270-Medium.ttf');
}




